/* emptyState.css */
.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: auto;
    height: 70vh;
  }
  
  .empty-state-image {
    max-width: 350px;
    width: 100%;
    margin: 0;
  }
  
  .empty-state-title {
    color: #FFF;
    font-family: "Roboto Slab";
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    margin: 0;
  }
  
  .empty-state-subtext {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
  }

  .btn{
    cursor: pointer;
    padding: 1rem 1.5rem;
    background-color: #65FDBD;
    border-radius: 50px;
    border: none;
    font-size: 16px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .empty-state {
      padding: 30px;
      height: 52vh;
    }
  
    .empty-state-image {
      max-width: 200px;
    }
  
    .empty-state-title {
      font-size: 20px;
    }
  
    .empty-state-subtext {
      font-size: 16px;
    }
  }
  
